* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: #ffd700;
    color: rgb(30,10, 80);
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    border: 2px solid #0057b8;
    border-radius: 5px;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    background: #5898e1;
    box-shadow: 1px 5px 8px 0px #5898e5;
    
}

input {
    width: 300px;
    height: 40px;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: rgb(30, 10, 80);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffd700; 
    color: #fff;
}

button:hover,
button:focus {
    background-color: #0057b8;
}

.gallery {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px
}

.photo-card {
    background-color: #5898e1;
    border: 2px solid #0057b8;
    border-radius: 5px;
    padding: 20px;
}

.img_wrap {
    height: 280px;
    display: flex;
    align-items: center;
}

.gallery_link {
    display: block;
    text-decoration: none;
}

.load-more {
    margin: 40px auto;
    width: 200px;
    color: #fff;
    background-color: #5898e1;
}
